@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Quicksand', sans-serif;
 }
  
 header {
    display: inline;
 }

.container{
    font-size: 20px;
    padding: 20px;
    background:linear-gradient(180deg, blueviolet, darkorchid );
    text-align: center;
    color: white;
}

nav{
    background: darkorchid;
    padding: 5px;
    position: sticky;
    top: 0;
    padding: 5px;
    
}

nav ul li{
    display: inline;
    list-style: none;

    padding: 0 30px;
    border-right: 1.5px solid white;
}

 nav a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
 }

 nav a:hover {
    font-weight: bold;
    transition: .5s;
 }

 main{
     padding: 20px;
     overflow: auto;
 }

 #content{
    float: left;
    width: 75%;
    padding-right: 10px;
 }

 aside{
    float: right;
    width: 25%;
    padding-left: 20px;
 }

 h1{
     border-bottom: 2px solid white;
     margin-bottom: 10px;
 }

 h2 {
    color: blueviolet;
    font-size: 36px;
    font-variant: small-caps;
 }
  
 h3 {
    color: blueviolet;
 }

main p{
    margin: 10px 0;
}

 .featured-image {
    margin:10px 0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border: 2.5px solid black;
    border-radius: 10px;
    box-shadow: 4px 7px blueviolet;
 }

 .profile img {
    width: 200px;
 }

 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.data{
    margin-top: 10px;
    text-align: center;
}

 footer {
    padding: 20px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
 }

 .profile header {
    text-align: center;
 }

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }
